<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<title> Live University</title>
<link href="/assets/font/icon.css" rel="stylesheet">
<!-- CSS  -->
<link rel="stylesheet" href="/assets/css/materialize.min.css" />
<link rel="stylesheet" href="/assets/css/style.css">