<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Perfil</a></li>
    <li><a href="#!"> Replace my pass</a></li>
    <li class="divider"></li>
    <li><a href="#!">exit</a></li>
</ul>
<nav class="hide-on-large-only">
    <div class="nav-wrapper white ">
        <a href="#" class="brand-logo black-text center">
             Live University 
        </a>
        <a href="#" data-target="slide-out" class="sidenav-trigger  black-text"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile " class="right hide-on-med-and-down black-text">
            <li><a href="curso">Colaboradores</a></li>
            <li><a href="curso/checklist">Curso</a></li>
        </ul>
    </div>
</nav>

<ul id="nav-mobile" class="sidenav sidenav-fixed hide-on-small-only">
    <div id="wave">
        <h3>Live University</h3>
    </div>
    <li><a href="/curso"><i class="material-icons">person</i> <span class="hide-on-med-only">Colaboradores</span></a></li>
    <li><a href="/curso/checklist"><i class="material-icons">book</i> <span class="hide-on-med-only">Curso</span></a></li>
</ul>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <a href="#user"><img class="circle" src="https://scontent.fnat1-1.fna.fbcdn.net/v/t1.0-9/13226972_870510816427531_5938345285412378914_n.jpg?_nc_cat=109&_nc_ht=scontent.fnat1-1.fna&oh=02908286508f252e042e5d1a95311501&oe=5D9CC026"></a>
            <a href="#name"><span class="black-text name">Breno Miranda</span></a>
            <a href="#email"><span class="black-text email">brenomirandaster@gmail.com</span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Home</a></li>
    <li><a href="/curso"><i class="material-icons">person</i> <span class="black-text">Colaboradores</span></a></li>
    <li><a href="/curso/checklist"><i class="material-icons">book</i> <span class="black-text">Curso</span></a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">add</i> information <i
        class="material-icons right">arrow_drop_down</i></a></li>
</ul>
<ul class="collection with-header perfil right hide-on-small-only">
    <li class="collection-item avatar">
        <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t1.0-9/13226972_870510816427531_5938345285412378914_n.jpg?_nc_cat=109&_nc_ht=scontent.fnat1-1.fna&oh=02908286508f252e042e5d1a95311501&oe=5D9CC026" alt="Breno Miranda" class="circle">
        <span class="title">Breno Miranda</span>
        <p>Development</p>
    </li>
</ul>