<html>

<head>
    <%- include ../../partials/head.ejs %>
</head>

<body>
    <header>
        <%- include ../../partials/header.ejs %>
    </header>

    <body>
        <main>
            <div class="row">
                <div class="col s12 m12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m12">
                                <h5 class="header orange-text accent-4 truncate">14 praticas de negociação</h5>
                                <p class=" orange-text accent-4 truncate">03 de agosto de 2018</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m12 l12 xl12">
                                <a class="light-blue lighten-5 btn-small light-blue-text truncate"><i class="material-icons left">assignment_turned_in</i>Checklist</a>
                                <a class="light-blue lighten-5 btn-small light-blue-text truncate"><i class="material-icons left">cloud_download</i>Baixar conteudo</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m12 checklist">
                                <form action="">

                                    <p>
                                        <label>
                      <input type="checkbox" id="test1" />
                      <span for="test1">Instrução 1</span>
                                        <br />
                                        <span class="truncate"> algumas informações sobre instruções</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                      <input type="checkbox" id="test2" />
                      <span for="test2">Instrução 1</span>
                                        <br />
                                        <span class="truncate"> algumas informações sobre instruções</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                      <input type="checkbox" id="test3" />
                      <span for="test3">Instrução 1</span>
                                        <br />
                                        <span class="truncate"> algumas informações sobre instruções</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                      <input type="checkbox" id="test4" />
                      <span for="test4">Instrução 1</span>
                                        <br />
                                        <span class="truncate"> algumas informações sobre instruções</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                      <input type="checkbox" id="test5" />
                      <span for="test5">Instrução 1</span>
                                        <br />
                                        <span> algumas informações sobre instruções</span>
                                        </label>
                                    </p>

                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6 m6 l8 xl8">
                                <h6 class="blue-text lighten-3">Colaboradores</h6> <br>
                                <a class="light-blue lighten-5 btn-small light-blue-text right truncate">+ adicionar</a>
                            </div>
                            <div class="col s6 m6 l4 xl4">
                                <div class="input-field">
                                    <input type="text" class="autocomplete">
                                    <label for="autocomplete-input">Pesquisar</label>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col s12 m12">
                                <table class="responsive-table">
                                    <tbody>
                                        <tr>
                                            <td>Breno Miranda <br> <span>brenomirandaster@gmail.com</span></td>
                                            <td>Cagor <br> <span>Analisata de sistema</span></td>
                                            <td>Empresa <br> <span>NatalDEv</span></td>
                                            <td><a class="light-blue lighten-5 btn-small light-blue-text">ABRIR</a></td>
                                            <td><a class="light-blue lighten-5 btn-small orange-text">REMOVER</a></td>
                                        </tr>
                                        <tr>
                                            <td>Breno Miranda <br> <span>brenomirandaster@gmail.com</span></td>
                                            <td>Cagor <br> <span>Analisata de sistema</span></td>
                                            <td>Empresa <br> <span>NatalDEv</span></td>
                                            <td><a class="light-blue lighten-5 btn-small light-blue-text">ABRIR</a></td>
                                            <td><a class="light-blue lighten-5 btn-small orange-text">REMOVER</a></td>
                                        </tr>
                                        <tr>
                                            <td>Breno Miranda <br> <span>brenomirandaster@gmail.com</span></td>
                                            <td>Cagor <br> <span>Analisata de sistema</span></td>
                                            <td>Empresa <br> <span>NatalDEv</span></td>
                                            <td><a class="light-blue lighten-5 btn-small light-blue-text">ABRIR</a></td>
                                            <td><a class="light-blue lighten-5 btn-small orange-text">REMOVER</a></td>
                                        </tr>
                                        <tr>
                                            <td>Breno Miranda <br> <span>brenomirandaster@gmail.com</span></td>
                                            <td>Cagor <br> <span>Analisata de sistema</span></td>
                                            <td>Empresa <br> <span>NatalDEv</span></td>
                                            <td><a class="light-blue lighten-5 btn-small light-blue-text">ABRIR</a></td>
                                            <td><a class="light-blue lighten-5 btn-small orange-text">REMOVER</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include ../../partials/footer.ejs %>
        </footer>
    </body>

</html>