<html>

<head>
    <%- include ../partials/head.ejs %>
</head>

<body>

    <header>
        <%- include ../partials/header.ejs %>
    </header>


    <main>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel">

                    <div class="col s12 m12">
                        <h5 class="header orange-text accent-4 truncate">Cursos</h5>
                    </div>

                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m12 l4 xl4 offset-l8 offset-xl8">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Pesquisar</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12">
                            <table class="responsive-table">

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="circulo grey lighten-3"><strong class="light-blue-text accent-3">03 Agosto</strong></div>
                                        </td>
                                        <td>14 Pratica de compras <br> <span>legenda sobre o curso</span></td>
                                        <td>Colaboradores: <strong class="orange-text accent-3">15</strong>/30</td>
                                        <td><a class="light-blue lighten-5 btn-small light-blue-text" href="/curso/checklist">ABRIR</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circulo grey lighten-3"><strong class="light-blue-text accent-3">03 Agosto</strong></div>
                                        </td>
                                        <td>14 Pratica de compras <br> <span>legenda sobre o curso</span></td>
                                        <td>Colaboradores: <strong class="orange-text accent-3">15</strong>/30</td>
                                        <td><a class="light-blue lighten-5 btn-small light-blue-text" href="/curso/checklist">ABRIR</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circulo grey lighten-3"><strong class="light-blue-text accent-3">03 Agosto</strong></div>
                                        </td>
                                        <td>14 Pratica de compras <br> <span>legenda sobre o curso</span></td>
                                        <td>Colaboradores: <strong class="orange-text accent-3">15</strong>/30</td>
                                        <td><a class="light-blue lighten-5 btn-small light-blue-text" href="/curso/checklist">ABRIR</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circulo grey lighten-3"><strong class="light-blue-text accent-3">03 Agosto</strong></div>
                                        </td>
                                        <td>14 Pratica de compras <br> <span>legenda sobre o curso</span></td>
                                        <td>Colaboradores: <strong class="orange-text accent-3">15</strong>/30</td>
                                        <td><a class="light-blue lighten-5 btn-small light-blue-text" href="/curso/checklist">ABRIR</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circulo grey lighten-3"><strong class="light-blue-text accent-3">03 Agosto</strong></div>
                                        </td>
                                        <td>14 Pratica de compras <br> <span>legenda sobre o curso</span></td>
                                        <td>Colaboradores: <strong class="orange-text accent-3">15</strong>/30</td>
                                        <td><a class="light-blue lighten-5 btn-small light-blue-text" href="/curso/checklist">ABRIR</a></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </main>

    <footer>
        <%- include ../partials/footer.ejs %>
    </footer>

</body>

</html>